// Fonts
@import url(https://fonts.bunny.net/css?family=roboto:100,300,400,500,700,900);
@import url(https://fonts.bunny.net/css?family=montserrat:500,800);

// VARIABLES

@import './mixin.scss';

// Color
$red: #e01c42;
$black: #2d2d2d;
$white: #ffffff;
$gray: #777879;
$grayhover: #77787920;


// Padding
$pd-default: 10px;
$pd-merge: 10px 15px;


// Border
$b-one-px: 1px solid $black;
$b-two-px: 2px solid $black;
$b-none: none;
$b-radius: 10px;
$b-radius-circle: 100%;


// Shadow

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {list-style-type: none;}
a {text-decoration: none;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    @include phone {font-size: 14px;}
    font-weight: 400;
    color: $black;
    background-color: $white;
}

.header,
.navbar,
.main,
.footer {
    &-container{
        @include container;
    }
}
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    &-wrapper {
        @include df-wrapper;
    }
    & .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        &-link {
            color: $red;
            & ion-icon {
                font-size: 1.3rem;
            }
        }
    }
    & .contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        &-link {
            display: flex;
            align-items: center;
            column-gap: 7px;
            font-size: 1rem;
            color: $red;
            & > ion-icon  {
                font-size: 1.3rem;
                color: $red;
            }
        }
    }
   
}
.header {
    background-color: $black;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    &-wrapper{
        @include df-wrapper;
    }
    & .logo {
        &-link {
            &-images {
                width: 300px;
            }
        }
    }
    & .catalogs {
        position: relative;
        height: 100px;
        &-button {
            position: absolute;
            background-color: $red;
            padding: 0 20px;
            height: 100px;

            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            & span {
                font-size: 0.8rem;
                font-weight: 500;
            }
            & ion-icon {
                font-size: 56px;
            }
            &:hover {
                background-color: $white;
                color: $red;
            }
        }
        & .catalogs-menu {
            position: absolute;
            top: 100%;
            background-color: $red;
            padding: 20px 0 2px;
            width: 350px;
            display: none;
        
            &-list {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
        
                &-item {
                    position: relative; // Добавляем относительное позиционирование
                    padding: 15px 0px ;
                    border-bottom: 1px solid $white;
        
                    &:hover .catalogs-menu-list-item-sub {
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;
                    }
        
                    &-link {
                        color: $white;
                        padding-left: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 20px;        
                        & ion-icon {
                            padding-left: 10px;
                            font-size: 32px;
                        }
                    }
        
                    &-sub {
                        display: none; // Изначально подкатегории скрыты
                        position: absolute;
                        top: 0;
                        left: 100%;
                        background-color: $red;
                        width: 300px;
                        
                        padding: 15px 20px;

        
                        .catalogs-menu-list-item-sub-item {
                            .catalogs-menu-list-item-sub-item-link {
                                text-decoration: none;
                                color: $white;
                                display: block;
                                padding: 3px 0;
        
                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & .menu {
        &-list {
            display: flex;
            column-gap: 15px;
            &-item {
                position: relative;
                &-link {
                    color: $white;
                    padding-right: 15px;
                }
                &:nth-child(5) {
                    &::after {
                        display: none;
                    }
                }
                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background-color: $red;
                    right: 0;
                    top: 0;
                    
                }  
                              
            }
        }        
    }
}
.footer {
    margin-top: 25px;
    &-wrapper {
        @include df-wrapper;
    }
    &-menu{
        &-list {
            @include list-row(15px);
            &-item{
                &-link{

                }
            }
        }
    }
    &-contacts{
        &-list {
            display: flex;
            column-gap: 15px;
            &-item{
                &-link{

                }
            }
        }
    }
}
.main {
    &-wrapper {
        flex-wrap: wrap;
        @include df-wrapper;
    }
}

.card-box {
    width: 23%;
    border: 2px solid $red;
    padding: 10px;
    &-images {}
    &-box {
        &-title{
            & h4 {}
            & h5 {}
        }
        &-desc {
            &-row{
                &-span {}
            }
        }
        &-price {
            &-tag{}
            &-price{}
            &-span{
                display: flex;
                align-items: center;
                flex-direction: row;
                column-gap: 5px;
                & ion-icon {
                    color: $red;
                    font-size: 1.4rem;
                }
            }
        }
        &-buttons {
             width: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
            &-add {
                background-color: $red;
                padding: 8px 55px;
                color: $white;
            }
        }
    }
}
