@import "./new-mix.scss";
@import url(https://fonts.bunny.net/css?family=roboto:100,300,400,500,700,900);
@import url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css);

//Colors
$black: #2D2D2D;
$white: #FFF;
$red: #E3193B;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $white;
    background-color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.row {
    margin: 25px 0;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;

}
.crowns {
    display: flex;
    flex-direction: row;
    &-item {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.5px;
        color: #c5c5c5;
        margin-left: 10px;

            &::after {
                content: " / ";
                padding-left: 10px;
            }
        &:nth-child(4)::after
        {
            content: none;
        }
        &-active {
            font-weight: 500;
            color: $red;
        }
    }
}
.header {
    margin-top: 30px;
    &-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    & .logo {
        & img {
            width: 275px;
        }
    }
    & .menu {
        &-list{
            display: flex;
            column-gap: 25px;
            &__item{
                &-link{
                    color: $white;
                    padding-bottom: 3px;
                    transition: all .5s ease-in;
                    &:hover {
                        color: $red;
                        text-decoration: underline;
                        text-decoration-color: $red;
                        text-decoration-thickness: 1.5px;
                        text-underline-offset: 5px;
                    }
                    &:focus {
                        color: $red;
                        text-decoration: underline;
                        text-decoration-color: $red;
                        text-decoration-thickness: 1.5px;
                        text-underline-offset: 5px;
                    }
                }
            }
        }
    }
    & .user {
        display: flex;
        column-gap: 15px;
        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            width: 36px;
            border: 1px solid $red;
            //border-radius: 25%;
            transition: all .5s ease;
            ion-icon {
                color: $red;
                font-size: 20px;
            }
            &:hover {
                border: 1px solid $white;
                background-color: $white;
            }
        }
    }
}
.main {
    height: 290px;
    &-wrapper {
        @include flex-row;
    }
    & .navbar {
        height: 100%;
        max-height: 290px;
        background-color: $red;
        min-width: 290px;
        padding:  25px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            &__item {
                &-link {
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                    font-weight: 500;
                    color: $white;
                    font-size: 14px;
                    ion-icon {
                        color: $white;
                        font-size: 21px;
                    }
                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 1.5px;
                        text-underline-offset: 5px;
                    }
                }
            }
        }
    }
    & .rated {
        display:grid;
        margin-left: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        height: 290px;

        & .card-box {
            &_rated {
                max-height: 290px;
                background-color: $white;
                color: $black;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                padding: 20px 20px 0;
                &-images {
                    margin: 0 auto;
                    width: 55%;
                }
                &-header{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: left;
                    line-height: 1.5;
                }
                &-article {
                    font-weight: 300;
                    font-size: 12px;
                    color: #c5c5c5;
                    text-transform: lowercase;
                    margin-top: 10px;
                }
                &-price {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;

                    &-header {
                        font-size: 24px;
                        font-weight: 400;
                        padding-bottom: 5px;
                    }
                    &-btn {
                        color: $white;
                        background-color: $red;
                        padding: 10px 25px;
                        position: absolute;
                        right: -20px;
                        bottom: 0px;
                    }
                }
            }
        }
    }
}
.area{
    margin: 50px 0;
    &-wrapper  {
        display: flex;
    }
    &-header {
        color: $white;
        text-decoration-thickness: 2px;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: $red;
    }
    .card {
        &-grid {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 30px;
            justify-content: space-between;
            flex: 1 0 auto;
        }
        &-box {
            width: 23%;
            background-color: #fff;
            color: black;
            padding: 10px;
            &__images{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__header{
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
            }
            &__article{
                color: #c5c5c5;
                text-transform: lowercase;
            }
            &__desc {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 10px;

               &-item {

                   display: flex;
                   justify-content: space-between;
                   font-size: 14px;
                   align-items: center;
                   &-name{
                       color: #c5c5c5;
                   }
                   &-value{
                       color: $black;
                   }
               }
            }
            &__price{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &-header {
                    font-weight: 300;
                    font-size: 24px;
                }
                &-btn {
                    color: $white;
                    padding: 10px 15px;
                    background-color: $red;
                }
            }
        }
    }
}
.item-card {
    width: 100%;
    &__element {
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 50px;
    }
    &__header{
        margin: 35px 0;
        font-size: 24px;
        font-weight: 500;
    }
    &__table {
        margin-top: 10px;
        width: 100%;
        border-collapse: collapse;
        &-thead{
            background-color: $red;
            height: 40px;
            &-tr{
                &-th{
                    font-size: 16px;
                    font-weight: 300;
                    &:nth-child(2){
                        border-right: 1px solid $red;
                    }
                }
            }
        }
        &-tbody{
            color: $red;
            &-tr{
                height: 35px;

                border-bottom: 1px solid $red;
                &-td{
                    padding: 0 20px;
                    font-weight: 400;
                    color: $white;
                    &:nth-child(1){
                        border-right: 1px solid $red;
                        border-left: 1px solid $red;
                    }
                    &:nth-child(2){
                        border-right: 1px solid $red;
                    }
                }
            }
        }
    }

    &__desc{
        width: 100%;
        &-list {
            width: 100%;

            &-item{
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid $red;
                padding: 15px 5px;
                &-span{
                    &:nth-child(1){
                        color: #c5c5c5;
                        font-size: 14px;
                        height: 100%;

                    }
                    &:nth-child(2){
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }
        &-support {
            margin: 25px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            align-items: center;
            height: auto;
            color: $red;
            &-item {
                display: flex;
                align-items: center;
                background-color:$red;
                color: $white;
                height: 50px;
                padding: 0 20px;
            }
        }
        &-order {
            width: 100%;
            &-art{
                padding: 10px 0 5px;
                font-weight: 300;
                font-size: 14px;
                text-transform: uppercase;
                &-span{
                    font-weight: 600;
                    letter-spacing: 1.2px;
                }
            }
            &-header{
                font-weight: 500;
                font-size: 32px;
                padding: 10px 0;
                color: #c5c5c5;
                & > span {
                    color: $white;
                }
                & .equ {
                    color: $red;
                }

                margin-bottom: 15px;
            }
            &-link{

                display: flex;
                align-items: center;
                column-gap: 20px;
                justify-content: center;

                font-size: 20px;

                padding: 20px 0;
                background-color: $red;
                color: $white;
            }
        }
    }
    &__group {
        margin: 20px;
        &-btn{
            margin-bottom: 20px;
            &-item {
                padding: 15px 10px;
                color: $red;
                &:hover {
                    color: $white;
                }
                &.active{
                    background-color: $red;
                    color: white;
                }
            }
        }
        &-content{
            margin-top: 40px;
            &-area{
                display: none;
                &:first-child{
                    display: block;
                }
            }

        }
    }
}
.footer {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        width: 275px;
        & img {
            width: 100%;
        }
    }
    &-menu {
        &__list {
            display: flex;
            column-gap: 15px;
            &-item{
                &-link{
                    color: $white;
                }
            }
        }
    }
    &-contacts {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        & a {
            display: flex;
            flex-direction: row;
            color: $white;
            align-items: center;
            justify-content: space-between;
            column-gap: 15px;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.5px;
            & ion-icon {
                color: $red;
                font-size: 20px;
            }
        }
    }
}

.item-card__slider{
    position: relative;
}
.slides {
    width: 600px;
    height: 600px;
}
.slide {
    display: none;
    width: 100%;
    height: 100%;
}
.thumbnails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    height: 155px;
}
.thumb-box {
    width: 100px;
    height: 100px;
}
.thumb {
    cursor: pointer;
    opacity: .6;
    width: 100%;
    background-size: contain;
}
.thumb:hover  {
    opacity: 1;
}
/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
